/* You'll probably want to add some styles here */
body {
	background-color: gray;
}


#map {
	margin-top: 50px;
	height:500px;
}

#hoverTable {
	margin-top: 50px;
	background-color: #D87E28;
}

thead {
	background-color: #dbdce3;
}